name: "Lint PHP"
on:
  pull_request:
  push:
    branches:
      - master
      - develop
jobs:
  phpcs:
    name: PHPCS
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        php-versions: ['7.4']
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring, curl, zip
          coverage: none
          tools: composer

      - name: Install dependencies
        run: composer update --no-interaction --no-suggest --no-progress --optimize-autoloader

      - name: Run
        run: composer run lint:phpcs